<header class="site-header">
  <a class="brand" href="/">Mohammad Heravi</a>
  <nav class="site-nav">
    <a href="/#papers">Papers</a>
    <a href="/#highlights">Highlights</a>
    <a href="/#about">About</a>
    <a href="/#contact">Contact</a>
  </nav>
</header>
