<header class="site-header">
  <a class="brand" href="/">
    <img src="/logo.png" alt="Mohammad Heravi personal logo" />
    <span>Mohammad Heravi</span>
  </a>
  <nav class="site-nav">
    <a href="/papers">Papers</a>
    <a href="/contact">Contact</a>
  </nav>
</header>
